include pug/libs/_libs

doctype html
html(lang='en')
	include pug/_head
	body
		.container
			h1 Hello world
			h2.container__subtitle Lorem, ipsum dolor.
			+image('react')
			+image('1')
			.block
			.user
